body {
    background-color: rgb(156, 185, 243);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
section {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
}
div {
    text-align: center;
}
div img {
    width: 200px;
    height: 200px;
    padding-top: 10px;
}
footer {
    color: black;
    font-style: italic;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}
